   --extra-index-url https://download.pytorch.org/whl/cpu
   torch
   streamlit
   pandas
   numpy
   scikit-learn==1.6.1
   joblib
   transformers<5
   sentence-transformers
   sentencepiece
   protobuf
   google-genai
